	/* app css stylesheet */

	body {
		padding-top: 80px;
		padding-bottom: 180px;
		background-color: #FAFAFA;
	}
	.p {
		font-family: 'Montserrat';
		font-weight: 500;
		color: #FAFAFA;
	}
	h3 {
		font-family: 'Montserrat';
		font-weight: 500;
	}

	.info {
		font-family: 'Montserrat'
	}
	.btn-lg {
		margin: 5px;
	}
	.weatherDisplay {
		display: none;
	}
	.grid2 {
		display: none;
	}
	.left img {
		margin-top: 50px;
		size: 110%;
	}
	.header {
		margin-right: 200px;
		margin-left: 300px;
		margin-top: -70px;
		font-family: 'Lato';
		display: flex;
		width: 700px;
	}
	.panel {
		margin-top: -30px;
		height: 400px;
		width: 500px;
		margin: .5vw;
		border-radius: 25px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		background-color: #8EBCBB;

	}
	#title{
		font-size: 25px; 
		margin-right: 275px; 
		margin-top: 35px; 
		color: #FAFAFA;

	}
	#temp{
		text-align: center; 
		font-size: 60px;  
		margin-top: 15px; 
		color: #FAFAFA;
	}
	#icon{
		font-size:100px; 
		margin-top: -10px; 
		color: #FAFAFA;
	}
	#smallIcons{
		font-size: 20px; 
		color: #FAFAFA;
	}
	#subID{
		margin-top: -10px;
		color: #FAFAFA;
	}
	#eventID {
		margin-top: 5px;
		font-size: 10px;
		font-family: 'Lato';
		color: #FAFAFA;
	}
	#scrollable{
		overflow-y: auto;
		height: 100%;
	}
	#wrapper {
		width: 500;
		clear: both;
	}
	#first {
		width: 166px;
		float: left;
	}
	#second {
		width: 166px;
		float: left;
	}
	#third {
		width: 166px;
		float: left;
	}
	.md-toolbar:not(.md-menu-toolbar) {
    background-color: #34495e;
}