/* app css stylesheet */

body {
    padding-top: 80px;
    padding-bottom: 180px;
    background-color: #FAFAFA;
}

.p, h3{

	font-family: 'Montserrat';
	font-weight: 500;
}

.weather.panel {
    /*font-weight: lighter !important;*/
}

.weather.panel .panel-heading {
    font-weight: lighter !important;
    font-size: 1.2em;
}

.weather.panel .panel-footer {
    font-weight: lighter !important;
}

.info{
  font-family:'Montserrat'
}

.btn-lg{
  margin:5px;
}